h1
  | Welcome to おとぎNovels！
p = link_to '小説を投稿する', new_novel_path
p = link_to 'ログイン', authors_path
p = link_to 'twitterでログイン', user_omniauth_authorize_path(:twitter)
p = link_to 'facebookでログイン', user_omniauth_authorize_path(:facebook)