h1
  | Welcome to おとぎNovels！
p = link_to '小説を投稿する', new_novel_path
p = link_to 'ログイン', authors_path
//p = link_to 'twitterでログイン', user_twitter_omniauth_authorize_path
p = link_to 'facebookでログイン', user_facebook_omniauth_authorize_path