<h1>トップページだよ</h1>
<p>小説一覧</p>

<table>
  <tr>
    <th>タイトル</th>
    <th>作成日</th>
    <th>更新日</th>
  </tr>
  <% @novels.each do |novel| %>
  <tr>
    <td><%= novel.title %></td>
    <td><%= novel.created_at.to_s(:published_on) %></td>
    <td><%= novel.updated_at.to_s(:published_on) %></td>
  </tr>
  <% end %>
</table>